In [1]:
from __future__ import division
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta as rd
from sqlalchemy import create_engine 
from analytics_tools.analytics_tools3 import freq_discrete

In [2]:
conn_oltp= create_engine('mysql://root:123@localhost:3306/taxi_oltp').connect()
conn_olap= create_engine('mysql://root:123@localhost:3306/taxi_olap').connect()

## TD_company

In [ ]:
query = """
SELECT 
    C.company, C.comp_name, A.id_trip
FROM
    tbl_trip A
        INNER JOIN
    tbl_taxi B ON A.taxi_id = B.taxi_id
        INNER JOIN
    tbl_company C ON B.company = C.company
"""

In [ ]:
%%time
df = pd.read_sql(sql=query,con=conn_oltp)

In [ ]:
df.head()

In [ ]:
aux = df[['company','comp_name','id_trip']].groupby(['company','comp_name']).count().sort_values('id_trip',ascending=0)

In [ ]:
aux.reset_index(inplace=True)
aux['comp_name_top10'] = np.where(aux.index<10,aux.comp_name,'otro')

In [ ]:
aux[['company','comp_name_top10']].to_sql(chunksize=1000,
         con=conn_olap,
         if_exists='replace',
         name='td_company',
         index=False)

## TD_mop

In [ ]:
query = """
SELECT 
    payment_type,
    1 as n
FROM
    tbl_trip
"""

In [ ]:
%%time
df = pd.read_sql(sql=query,con=conn_oltp)

In [ ]:
df.head()

In [ ]:
aux = df.groupby('payment_type').count().sort_values('n',ascending=0)

In [ ]:
aux.reset_index(inplace=True)
aux['mop'] = np.where(aux.index<2,aux.payment_type,'otro')

In [ ]:
aux.rename(columns={'index':'id_mop'},inplace=True)

In [ ]:
aux[['id_mop','payment_type','mop']].to_sql(chunksize=1000,
         con=conn_olap,
         if_exists='replace',
         name='td_mop',
         index=False)

## TD_tiempo

In [ ]:
query = """
SELECT 
    trip_start_timestamp,
    trip_end_timestamp
FROM
    tbl_trip2
"""

In [ ]:
%%time
df = pd.read_sql(sql=query,con=conn_oltp)

In [ ]:
pd.to_datetime(df.trip_start_timestamp).min()

In [ ]:
fhi = datetime(2016,1,1,0,0)
fhf = datetime(2020,12,31,23,30)

In [ ]:
lst_fh = []
while fhi<fhf:
    for _ in range(24):
        fhi+=rd(hours=1)
        lst_fh.append(fhi)

In [ ]:
df = pd.DataFrame(lst_fh,columns=['id_fh'])

In [ ]:
datetime.now().weekday()

In [ ]:
df['year'] = df.id_fh.map(lambda x:x.year)
df['month'] = df.id_fh.map(lambda x:x.month)
df['day'] = df.id_fh.map(lambda x:x.day)
df['hour'] = df.id_fh.map(lambda x:x.hour)
df['weekday'] = df.id_fh.map(lambda x:x.weekday())
df['id_fh'] = df.id_fh.map(lambda x:x.strftime('%Y%m%d%H'))

In [ ]:
df.to_sql(chunksize=1000,
         con=conn_olap,
         if_exists='replace',
         name='td_time',
         index=False)

## TH_trip

In [ ]:
query = """
    SELECT 
        A.trip_start_timestamp,
        A.fare AS h_fare,
        A.tips AS h_tips,
        A.tolls AS h_tolls,
        A.extras AS h_extras,
        A.payment_type,
        C.company
    FROM
        tbl_trip2 A
            INNER JOIN
        tbl_taxi B ON A.taxi_id = B.taxi_id
            INNER JOIN
        tbl_company C ON B.company = C.company
"""

In [ ]:
df = pd.read_sql(sql=query,con=conn_oltp)

In [ ]:
df['id_fh'] = pd.to_datetime(df.trip_start_timestamp).map(lambda x:x.strftime('%Y%m%d%H'))

In [ ]:
df['h_total'] = df[[x for x in df.columns if x[:2]=='h_']].sum(axis=1)

In [ ]:
df['h_n'] = 1

In [ ]:
df.head()

In [ ]:
aux = df[['id_fh','payment_type','company']+[x for x in df.columns if x[:2]=='h_']].groupby(['id_fh','payment_type','company']).sum()

In [ ]:
aux.reset_index(inplace=True)

In [ ]:
aux.to_sql(chunksize=1000,
         con=conn_olap,
         if_exists='replace',
         name='th_trip',
         index=False)

## ExtracciÃ³n del Cubo

In [3]:
cubo = pd.read_sql(sql="select * from v_cubote",con=conn_olap)

In [4]:
cubo.shape

(20528, 13)

In [5]:
cubo.to_excel('chicago_taxi_cubo_olap.xlsx',index=False)