In [1]:
from __future__ import division
import pandas as pd
import numpy as np
from sqlalchemy import create_engine 
import os
import simplejson as js
from analytics_tools.analytics_tools3 import freq_discrete

In [ ]:
df = pd.read_csv('/home/jose/Documentos/unam/data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_01.csv')

In [ ]:
df.shape

In [ ]:
df = df.sample(frac=0.1)

In [ ]:
df.shape

In [ ]:
df.head()

In [2]:
ruta = '/home/jose/Documentos/unam/data/chicago-taxi-rides-2016/'

In [7]:
conn= create_engine('mysql://root:123@localhost:3306/taxi_oltp').connect()

## Tabla Taxi

In [ ]:
lst_arch = sorted([x for x in os.listdir(ruta) if x.startswith('chicago')])

In [ ]:
lst_arch

In [ ]:
%%time
os.chdir(ruta)
for i,arch in enumerate(lst_arch):
    print arch
    aux = pd.read_csv(arch)[['taxi_id','company']].drop_duplicates()
    if i == 0:
        f = aux.copy()
    else:
        f = pd.concat([f,aux],ignore_index=True).drop_duplicates()

In [ ]:
f.fillna(999,inplace=True)

In [ ]:
f = f[~f.taxi_id.isin([0,999])]

In [ ]:
f.to_sql(chunksize=1000,
         con=conn,
         if_exists='replace',
         name='tbl_taxi',
         index=False)

## Company

In [ ]:
df_js = pd.read_json(ruta+'column_remapping.json')[['company']]

In [ ]:
df_js.reset_index(inplace=True)

In [ ]:
df_js.rename(columns={'index':'company','company':'comp_name'},inplace=True)

In [ ]:
df_com = f[['company']].drop_duplicates()

In [ ]:
df_com = df_com.merge(df_js,on='company',how='left')

In [ ]:
df_com.fillna('unknown',inplace=True)

In [ ]:
df_com.to_sql(chunksize=1000,
         con=conn,
         if_exists='replace',
         name='tbl_company',
         index=False)

## Trip

In [11]:
def taxi_trip(ruta,arch,if_exists,conn):
    os.chdir(ruta)
    df = pd.read_csv(arch)
    lst_var_trip = ['taxi_id',
     'trip_start_timestamp',
     'trip_end_timestamp',
     'trip_seconds',
    'trip_miles',
     'fare',
     'tips',
     'tolls',
     'extras',
     'payment_type',
     'pickup_latitude',
     'pickup_longitude',
     'dropoff_latitude',
     'dropoff_longitude'
    ]
    df_trip = df[lst_var_trip].copy()
    
    json = js.load(open(ruta+'column_remapping.json','rb'))

    for c in ['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude']:
        aux = json[c]
        aux = pd.DataFrame({'id_coord':aux.keys(),c:aux.values()})
        aux.id_coord = aux.id_coord.astype(float) 
        df_trip.rename(columns={c:'id_coord'},inplace=True)
        df_trip = df_trip.merge(aux,on='id_coord',how='left')
        df_trip.drop('id_coord',axis=1,inplace=True)

    df_trip['pu_lat_long'] = df_trip.pickup_latitude+","+df_trip.pickup_longitude
    df_trip['do_lat_long'] = df_trip.dropoff_latitude+","+df_trip.dropoff_longitude

    df_trip.drop(['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude'],axis=1,inplace=True)

    df_trip.reset_index(drop=True,inplace=True)

    df_trip['id_trip']=df_trip.index+1


    df_trip.to_sql(chunksize=1000,
             con=conn,
             if_exists=if_exists,
             name='tbl_trip2',
             index=False)

In [12]:
%%time
taxi_trip(arch='chicago_taxi_trips_2016_01.csv',
          conn=conn,
          if_exists='replace',
          ruta=ruta)

CPU times: user 1min 31s, sys: 3.3 s, total: 1min 34s
Wall time: 2min 2s