In [3]:
from __future__ import division
import pandas as pd
import numpy as np
from sqlalchemy import create_engine 
from analytics_tools.analytics_tools3 import freq_discrete

In [4]:
conn_oltp= create_engine('mysql://root:123@localhost:3306/taxi_oltp').connect()
conn_olap= create_engine('mysql://root:123@localhost:3306/taxi_olap').connect()

## TD_company

In [12]:
query = """
SELECT * FROM tbl_trip A 
INNER JOIN tbl_taxi B ON A.taxi_id = B.taxi_id
INNER JOIN tbl_company C ON B.company = C.company
"""

In [13]:
df = pd.read_sql(sql=query,con=conn_oltp)

In [14]:
df.head()

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tips,tolls,extras,payment_type,pu_lat_long,do_lat_long,id_trip,taxi_id,company,company,comp_name
0,2992.0,2016-1-26 12:00:00,2016-1-26 12:30:00,1380.0,12.0,31.75,7.35,0.0,5.0,Credit Card,"41.785998518,-87.750934289","41.880994471,-87.632746489",1,2992.0,999.0,999.0,unknown
1,1165.0,2016-1-23 04:00:00,2016-1-23 04:00:00,0.0,0.0,9.00,2.00,0.0,0.0,Credit Card,None,None,2,1165.0,119.0,119.0,Chicago Elite Cab Corp. (Chicago Carriag
2,6185.0,2016-1-17 00:30:00,2016-1-17 00:45:00,840.0,3.5,12.50,3.00,0.0,1.0,Credit Card,None,None,3,6185.0,999.0,999.0,unknown
3,3267.0,2016-1-8 20:00:00,2016-1-8 20:45:00,2640.0,1.1,45.00,9.80,0.0,4.0,Credit Card,"41.97907082,-87.903039661","41.89503345,-87.619710672",4,3267.0,107.0,107.0,Taxi Affiliation Services
4,2863.0,2016-1-7 22:15:00,2016-1-7 22:30:00,240.0,0.0,6.25,0.00,0.0,0.0,Cash,"41.89321636,-87.63784421","41.90749193,-87.63576009",5,2863.0,107.0,107.0,Taxi Affiliation Services

In [9]:
df.groupby('comp_name').count()

                                          company
comp_name
0118 - 42111 Godfrey S.Awir                     1
0694 - 59280 Chinesco Trans Inc                 1
1085 - 72312 N and W Cab Co                     1
1247 - 72807 Daniel Ayertey                     1
2092 - 61288 Sbeih company                      1
2192 - 73487 Zeymane Corp                       1
2241 - 44667 - Felman Corp Manuel Alonso        1
2241 - 44667 Manuel Alonso                      1
2733 - 74600 Benny Jona                         1
2809 - 95474 C & D Cab Co Inc.                  1
2823 - 73307 Lee Express Inc                    1
2823 - 73307 Seung Lee                          1
3011 - 66308 JBL Cab Inc.                       1
3094 - 24059 G.L.B. Cab Co                      1
3141 - 87803 Zip Cab                            1
3152 - 97284 Crystal Abernathy                  1
3201 - C&D Cab Co Inc                           1
3201 - CD Cab Co Inc                            1
3319 - CD Cab Co                                1
3556 - 36214 RC Andrews Cab                     1
3591 - 63480 Chuks Cab                          1
3620 - 52292 David K. Cab Corp.                 1
3623 - 72222 Arrington Enterprises              1
3669 - 85800 Jordan Taxi Inc                    1
4053 - 40193 Adwar H. Nikola                    1
4197 - 41842 Royal Star                         1
4615 - 83503 Tyrone Henderson                   1
4623 - 27290 Jay Kim                            1
4732 - Maude Lamy                               1
4787 - 56058 Reny Cab Co                        1
5006 - 39261 Salifu Bawa                        1
5062 - 34841 Sam Mestas                         1
5074 - 54002 Ahzmi Inc                          1
5129 - 87128                                    1
5724 - 75306 KYVI Cab Inc                       1
585 - 88805 Valley Cab Co                       1
5874 - 73628 Sergey Cab Corp.                   1
5997 - 65283 AW Services Inc.                   1
6057 - 24657 Richard Addo                       1
6488 - 83287 Zuha Taxi                          1
6574 - Babylon Express Inc.                     1
6742 - 83735 Tasha ride inc                     1
6743 - 78771 Luhak Corp                         1
6747 - Mueen Abdalla                            1
American United Cab Association                 1
Blue Cab Co                                     1
Blue Ribbon Taxi Association Inc.               1
Chicago Elite Cab Corp. (Chicago Carriag        1
Chicago Medallion Leasing INC                   1
Chicago Medallion Management                    1
Choice Taxi Association                         1
Dispatch Taxi Affiliation                       1
KOAM Taxi Association                           1
Northwest Management LLC                        1
Patriot Trans Inc                               1
Suburban Dispatch LLC                           1
T.A.S. - Payment Only                           1
Taxi Affiliation Services                       1
Top Cab Affiliation                             1
unknown                                         1