In [29]:
from __future__ import division
import pandas as pd
import numpy as np
from sqlalchemy import create_engine 
import os
import simplejson as js
from analytics_tools.analytics_tools3 import freq_discrete

In [2]:
df = pd.read_csv('/home/jose/Documentos/unam/data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_01.csv')

In [3]:
df.shape

(1705805, 20)

In [4]:
df = df.sample(frac=0.1)

In [5]:
df.shape

(170581, 20)

In [6]:
df.head()

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
571872,2992.0,2016-1-26 12:00:00,2016-1-26 12:30:00,1380.0,12.0,NaN,16.0,56.0,32.0,31.75,7.35,0.0,5.0,44.10,Credit Card,NaN,433.0,757.0,18.0,610.0
1602774,1165.0,2016-1-23 04:00:00,2016-1-23 04:00:00,0.0,0.0,NaN,NaN,NaN,NaN,9.00,2.00,0.0,0.0,11.00,Credit Card,119.0,NaN,NaN,NaN,NaN
613200,6185.0,2016-1-17 00:30:00,2016-1-17 00:45:00,840.0,3.5,NaN,NaN,NaN,NaN,12.50,3.00,0.0,1.0,16.50,Credit Card,NaN,NaN,NaN,NaN,NaN
648418,3267.0,2016-1-8 20:00:00,2016-1-8 20:45:00,2640.0,1.1,NaN,959.0,76.0,8.0,45.00,9.80,0.0,4.0,58.80,Credit Card,107.0,225.0,6.0,167.0,754.0
855693,2863.0,2016-1-7 22:15:00,2016-1-7 22:30:00,240.0,0.0,NaN,534.0,8.0,8.0,6.25,0.00,0.0,0.0,6.25,Cash,107.0,419.0,615.0,454.0,453.0

In [7]:
ruta = '/home/jose/Documentos/unam/data/chicago-taxi-rides-2016/'

In [8]:
conn= create_engine('mysql://root:123@localhost:3306/taxi_oltp').connect()

## Tabla Taxi

In [9]:
lst_arch = sorted([x for x in os.listdir(ruta) if x.startswith('chicago')])

In [10]:
%%time
os.chdir(ruta)
for i,arch in enumerate(lst_arch):
    print arch
    aux = pd.read_csv(arch)[['taxi_id','company']].drop_duplicates()
    if i == 0:
        f = aux.copy()
    else:
        f = pd.concat([f,aux],ignore_index=True).drop_duplicates()

chicago_taxi_trips_2016_01.csv
chicago_taxi_trips_2016_02.csv
chicago_taxi_trips_2016_03.csv
chicago_taxi_trips_2016_04.csv
chicago_taxi_trips_2016_05.csv
chicago_taxi_trips_2016_06.csv
chicago_taxi_trips_2016_07.csv
chicago_taxi_trips_2016_08.csv
chicago_taxi_trips_2016_09.csv
chicago_taxi_trips_2016_10.csv
chicago_taxi_trips_2016_11.csv
chicago_taxi_trips_2016_12.csv
CPU times: user 54 s, sys: 5.05 s, total: 59 s
Wall time: 1min 15s

In [11]:
f.fillna(999,inplace=True)

In [12]:
f = f[~f.taxi_id.isin([0,999])]

In [13]:
f.to_sql(chunksize=1000,
         con=conn,
         if_exists='replace',
         name='tbl_taxi',
         index=False)

## Company

In [14]:
df_js = pd.read_json(ruta+'column_remapping.json')[['company']]

In [15]:
df_js.reset_index(inplace=True)

In [16]:
df_js.rename(columns={'index':'company','company':'comp_name'},inplace=True)

In [17]:
df_com = f[['company']].drop_duplicates()

In [18]:
df_com = df_com.merge(df_js,on='company',how='left')

In [19]:
df_com.fillna('unknown',inplace=True)

In [20]:
df_com.to_sql(chunksize=1000,
         con=conn,
         if_exists='replace',
         name='tbl_company',
         index=False)

## Trip

In [21]:
df.head()

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
571872,2992.0,2016-1-26 12:00:00,2016-1-26 12:30:00,1380.0,12.0,NaN,16.0,56.0,32.0,31.75,7.35,0.0,5.0,44.10,Credit Card,NaN,433.0,757.0,18.0,610.0
1602774,1165.0,2016-1-23 04:00:00,2016-1-23 04:00:00,0.0,0.0,NaN,NaN,NaN,NaN,9.00,2.00,0.0,0.0,11.00,Credit Card,119.0,NaN,NaN,NaN,NaN
613200,6185.0,2016-1-17 00:30:00,2016-1-17 00:45:00,840.0,3.5,NaN,NaN,NaN,NaN,12.50,3.00,0.0,1.0,16.50,Credit Card,NaN,NaN,NaN,NaN,NaN
648418,3267.0,2016-1-8 20:00:00,2016-1-8 20:45:00,2640.0,1.1,NaN,959.0,76.0,8.0,45.00,9.80,0.0,4.0,58.80,Credit Card,107.0,225.0,6.0,167.0,754.0
855693,2863.0,2016-1-7 22:15:00,2016-1-7 22:30:00,240.0,0.0,NaN,534.0,8.0,8.0,6.25,0.00,0.0,0.0,6.25,Cash,107.0,419.0,615.0,454.0,453.0

In [24]:
lst_var_trip = ['taxi_id',
 'trip_start_timestamp',
 'trip_end_timestamp',
 'trip_seconds',
'trip_miles',
 'fare',
 'tips',
 'tolls',
 'extras',
 'payment_type',
 'pickup_latitude',
 'pickup_longitude',
 'dropoff_latitude',
 'dropoff_longitude'
]

In [75]:
df_trip = df[lst_var_trip].copy()

In [76]:
df_trip.head()

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tips,tolls,extras,payment_type,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
571872,2992.0,2016-1-26 12:00:00,2016-1-26 12:30:00,1380.0,12.0,31.75,7.35,0.0,5.0,Credit Card,433.0,757.0,18.0,610.0
1602774,1165.0,2016-1-23 04:00:00,2016-1-23 04:00:00,0.0,0.0,9.00,2.00,0.0,0.0,Credit Card,NaN,NaN,NaN,NaN
613200,6185.0,2016-1-17 00:30:00,2016-1-17 00:45:00,840.0,3.5,12.50,3.00,0.0,1.0,Credit Card,NaN,NaN,NaN,NaN
648418,3267.0,2016-1-8 20:00:00,2016-1-8 20:45:00,2640.0,1.1,45.00,9.80,0.0,4.0,Credit Card,225.0,6.0,167.0,754.0
855693,2863.0,2016-1-7 22:15:00,2016-1-7 22:30:00,240.0,0.0,6.25,0.00,0.0,0.0,Cash,419.0,615.0,454.0,453.0

In [78]:
json = js.load(open(ruta+'column_remapping.json','rb'))

In [79]:
for c in ['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude']:
    aux = json[c]
    aux = pd.DataFrame({'id_coord':aux.keys(),c:aux.values()})
    aux.id_coord = aux.id_coord.astype(float) 
    df_trip.rename(columns={c:'id_coord'},inplace=True)
    df_trip = df_trip.merge(aux,on='id_coord',how='left')
    df_trip.drop('id_coord',axis=1,inplace=True)

In [83]:
df_trip['pu_lat_long'] = df_trip.pickup_latitude+","+df_trip.pickup_longitude
df_trip['do_lat_long'] = df_trip.dropoff_latitude+","+df_trip.dropoff_longitude

In [87]:
df_trip.drop(['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude'],axis=1,inplace=True)

In [90]:
df_trip.reset_index(drop=True,inplace=True)

In [92]:
df_trip['id_trip']=df_trip.index+1

In [95]:
%%time
df_trip.to_sql(chunksize=1000,
         con=conn,
         if_exists='replace',
         name='tbl_trip',
         index=False)

CPU times: user 8.17 s, sys: 60 ms, total: 8.23 s
Wall time: 11.3 s